/* bassic setup  */
body{
    font-family: 'Roboto', sans-serif;
}
.search-login{
    margin-top: 15px;
}
/* bassic setup  */
/* start header section  */
header{
    background: #19283f;
}
.menu ul li a {
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size:17px;
    color: white!important;
}
.menu ul li a:hover{
    color: #33d1cc!important;
}
.login-button{
    width: 110px;
    height: 35px;
    background: #ff3150!important;
    border-radius: 8px;
    color: #ffc400;
}
/* custom bootstrap  */
.custom-outline-btn{
    background: #33d1cc;
    color: #19283f;
}
.btn-custom {
   
    color: #33d1cc;   
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.dropdown-menu-custom {
    top: 134%;
    left: -165px;
    min-width: 20rem;
    color: #33d1cc;
}
/* custom bootstrap  */
/* end header section  */
/* start banner section  */
.banner{
    height: 420px;
    background: #19283f;
    position: relative;
}
.content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}
.h1{
    font-family: 'Roboto', sans-serif;
    font-size: 51px;
    font-weight: 300;
    color: #f0f8fb;
}
.p{
    margin-top: 5px;
    font-size: 15px;
    color: #a8b9c0;
}
.common-button{
    margin-top: 28px;
    width: 200px;
    height: 45px;
    background: #ff3150;
    border-radius: 10px;
    color: #ffc400;
    transition: .3s;
    border: none;
}
.common-button:focus
{
    outline: 0;
}
.common-button:hover{
    background: #33d1cc;
    color: black!important;
}
/* end banner serction  */
/* start service section  */
.service{
    margin: 60px 0px;
}
.common-hr{
    width: 160px;
    height: 3px!important;
    background: #33d1cc;
    color: #33d1cc;
}
.number1{
    background: url(../img/number1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.number2{
    background: url(../img/number2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.number3{
    background: url(../img/number3.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.service-full-content{
    margin-top: 185px;
}
.service-h6{
    font-size: 20px;
    color: #ffc400!important;
}
.service-p{
    font-size: 15px;
    color: #a8b9c0;
}
/* end service section  */
/* start design section  */
.design{
    padding: 60px 0px;
    background: #eff7fa;
}
.btn-grp{
    margin: 40px 0px;
    text-align: center;
}
.group-button{
    color: #a8b9c0;
}
.group-button:hover{
    background: #ff3150;
    color: #ffc400;
}
.active1{
    background: #ff3150;
}
.box{

    margin: 0 auto;
    width: 270px;
    height: 200px;
    background: white;
    border: 10px solid #eff7fa;
    position: relative;
    z-index:1;
}
.box i {
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 20px;
    color: #a8b9c0;
}
.box::after{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background:#33d1cc;
    z-index: -1;
}
.box{
    transition: .45s;
}
.box::after{
    transition: .45s;
}

.box:hover::after{
    width: 100%;
}
/* end design section  */
/* start retina section  */
.retina
{
    margin-top: 35px;
}
.blog{
    font-size: 32px;
    font-weight:500;
}
.blog-reper{
    margin-top: 50px;
}
.retina-head{
   margin-bottom: 50px;
}


/* end retina section  */
/* start team section  */
.team{
    padding-top: 90px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background-color:#eff7fa;
    text-align: center;
}
/* end team section  */

.box-card
{
    width: 220px;
}